/*dom*/
html, body {
	background-color: white;
	margin:0;
	padding:0;
	font-size: 100px;
	font-family: Comic Sans MS;
}

body {
	text-align: center;
	

}
button {
	font-size: 80px;
	font-family: Comic Sans MS;
}

td {
	display: inline-grid;
	width: 100px;
	text-align: center;
	line-height:100px;
	color:black;
	cursor:pointer;
}

table {
	margin-top: 20px;
	display: inline-block;
	padding: 1px;
}

table, tr {
	background-color: black;
}

tr {
	display: flex;
	margin:0;
}

td {
	background-color: white;
	margin:1px;
}

/*ID*/

/*CLASS*/
.blokker {
	position: fixed;
	display: grid;
	top:0;
	background-color: white;
	height: 100vh;
	width: 100vw;
}

/*MULTI*/